.header {
  max-width: 1430px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1200px) {
    justify-content: space-around;
  }
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.not {
      @media (max-width: 576px) {
        display: none;
      }
    }
    @media (max-width: 576px) {
      width: 320px;
      margin: 0 auto;
    }
  }
  &__town {
    position: relative;
    text-decoration: none;
    color: #fffffe;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    margin-right: 100px;
    transition: 0.3s ease;
    @media (max-width: 576px) {
      display: none;
    }
    &::before {
      content: "";
      background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAVCAYAAACZm7S3AAABPklEQVQ4jY2TQSuEURSG3xmyQ1IjKywUVibMSsrWH5gfgB9g7x/4D4qVhQULJVJMmZWFFbLQKCkpUVgoHt3c21yn+33fvHXq65zz3Pver3MExNENrADHwCt/+gBOgVWgJ+6PwSngmnxd+b5/8DTwVgAGPQMTAXZWbxJNTWALOAd+TO3ScQ5eNoUHoGb+Rc3nY9Vd4cQkLRhizjg4cMkXYzUFhmhEvU9lSQNq61b5uouqFQd/RonxAngs+n53Vs4iK+5NsxmWq+bNTXfzbnRaSdKepBlzY1XSvq8HHZaAPv+WwaiApIaklqRRSQsG/JI0EiytdTRbbW3E49kFXHQItoBeuxiTfoPy9A3Mp7YqNapW61krGWInAzwCykVwP3BvwEegYnuzZnjRwEupvrwl2PTgdlZPHjzkd3g4WQf9AsBviJ1UnF/+AAAAAElFTkSuQmCC");
      width: 15px;
      height: 21px;
      left: -30px;
      position: absolute;
    }
    &:hover {
      color: #827686;
    }
  }
  &__tel {
    position: relative;
    text-decoration: none;
    color: #fffffe;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    transition: 0.3s ease;
    @media (max-width: 576px) {
      display: none;
    }
    &::before {
      content: "";
      background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAABM0lEQVQ4jZ2Tu0oDQRiFvyQQKwUT1MoHUIyVIARURLCwN0jeIWArvoVNLHwJG+0tBEsvpFWsxGARrbzAkUl2IcSZf505MMXuGb4Z/nMGSQ1Jd/qrE0mkLAJAp4GkqRRoGWjg1wywG/BMOeiXsaGVAi1JegYWA/47MA98xt60Z/huBBtx9xxBrw1/ADykQC8M/xB4iYWWhr0ajWBpwvsA5mLnmd/UqevxpoGjWOBQWWGrrgWeB/AjaTu2/OMfB8bLWk2FunVugLcm9tYlNSVViqA1SY8B8Lek42xU+5L62f9XSaeSdvID8vTHtQJcAbOBGN6AesDrA2c+qNM6cGmATZUD5g2wCTylQIuSrBnhBfXfmri6+XrsVUypXeodSb0C5m0oqCKtAXtAE1gGFoAqcA+0fwE96qemVgAOlwAAAABJRU5ErkJggg==");
      width: 21px;
      height: 21px;
      left: -40px;
      position: absolute;
    }
    &:hover {
      color: #827686;
    }
  }
}
.logo {
  background-image: url(../../../img/logo/HOMEFOR.svg);
  width: 140px;
  height: 23px;
  padding: 35px 32px 36px 34px;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  @media (max-width: 576px) {
    padding: 16px 11px;
    height: 44px;
  }
}
.burger {
  background-image: url(../../../img/icon/burger.svg);
  width: 40px;
  height: 19px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 35px;
  margin-right: 82px;
  transition: 0.3s ease;
  @media (max-width: 576px) {
    display: none;
  }
  &:hover {
    background-color: #827686;
  }
}
.nav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  @media (max-width: 1200px) {
    display: none;
  }
  &-item {
    margin-right: 49px;
  }
  &-link {
    text-decoration: none;
    color: #fffffe;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    transition: 0.3s ease;
    &:hover {
      color: #827686;
    }
  }
}

.circle {
  @media (min-width: 576px) {
    display: none;
  }
  @media (max-width: 576px) {
    display: flex;
    width: 37px;
    height: 37px;
    background-color: #fffffe;
    border-radius: 100%;
    position: relative;
  }
}

.burgermobail {
  @media (min-width: 576px) {
    display: none;
  }
  @media (max-width: 576px) {
    display: flex;
    background-image: url(../../../img/mobail/burger_.svg);
    width: 16px;
    height: 13px;
    position: absolute;
    top: 12px;
    left: 10px;
  }
}

.phonemobail {
  @media (min-width: 576px) {
    display: none;
  }
  @media (max-width: 576px) {
    display: flex;
    background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA90lEQVQ4jZXTPS+EQRTF8d+SKMRjO4tGo/US0akk+AQiUW+j8gUUQqP0BRRKoiEqCVvpNaJXUWhEomLJxKw8mQzG6eZM7n/O3LnTmJ2aa2MflS+9YhIPCtSXFAcNYrWkWARUGX/tP4DHjL+A8VLAbcZvYKYUcJnxr3FRCjjCR+IfoFsKuMdZ4u+gWQoI2sJbzZ/ACQZKAXfYS/aWcY7huA6NXcRIDtCL3UkgK7jBemxqJ07oFTYCLIxyvaAZX2X+r+hRL/UEQc9YyiT5SVUK6EFC9N2ksVnlAEHv2MY0TjNz8n2F/tHW2G8HPOEYh7U/E37rUCjG5iehgSqPuRMkCwAAAABJRU5ErkJggg==");
    width: 16px;
    height: 16px;
    position: absolute;
    top: 12px;
    left: 10px;
  }
}