@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

:root {
  font-size: 16px;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}
.wrapper {
  width: 1430px;
  margin: 0 auto;
}
.title {
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
}
.section-main {
  background-image: url(../img/files/image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 850px;
}
.main {
  width: 835px;
  margin: 0 auto;
  margin-top: 173px;
  &-title {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    max-width: 829px;
    text-align: center;
  }
  &-text {
    max-width: 530px;
    color: #fffffe;
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
    margin: 0 auto;
    margin-top: 36px;
    text-align: center;
  }
  &-btn {
    padding: 23px 50px;
    display: block;
    margin: 0 auto;
    margin-top: 37px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.12rem;
    color: #000;
    letter-spacing: 3.5px;
    transition: 0.3s ease;
    &:hover {
      color: #827686;
    }
  }
}


.form {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 32px;
  select {
    width: 325px;
    height: 60px;
    align-items: center;
    text-align-last: center;
  }
  option {
    justify-content: center;
  }
}

.contant {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
}
.area {
  display: flex;
  width: 484px;
  border: 1px solid #000;
  justify-content: space-between;
  align-items: center;
}
.area-text {
  width: 241px;
  text-align: center;
}
.area-input {
  width: 241px;
  height: 55px;
  border: none;
  border-left: 1px solid #000;
  text-align: center;
  &::-webkit-input-placeholder { color: #000;}
  &:hover {
    &::-webkit-input-placeholder { color: #827686;}
  }
}

.section-stock {
  margin-top: 131px;
  &__text {
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    width: 525px;
    margin: 0 auto;
    margin-top: 35px;
    line-height: 1.5;
    overflow: hidden;
  }
}

.slider {
  display: flex;
  justify-content: space-between;
  margin-top: 138px;
  &-child {
    width: 462px;
    height: 544px;
    border: 1px solid #302d32;
    overflow: hidden;
    margin-right: 19px;
  }
  &-item {
    width: 100%;
    height: 76%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-size: cover;
    transition: 0.3s ease;
    &:hover {
      width: 105%;
    }
  }
  &-berry {
    background-image: url(../img/image1.png);
  }
  &-trend {
    background-image: url(../img/image2.png);
  }
  &-panoramma {
    background-image: url(../img/image3.png);
  }
  &-text {
    position: absolute;
    color: #ffffff;
    top: 308px;
    left: 31px;
    line-height: 1;
    &__title {
      font-weight: bold;
      font-size: 1.87rem;
    }
    &__description {
      font-weight: 400;
      font-style: 1rem;
    }
  }
  &__btn {
    content: "";
      position: absolute;
      width: 41px;
      height: 41px;
      background-color: #302d32;
      display: block;
      background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAPCAYAAADphp8SAAAAwElEQVQ4ja2RUQqCQBRFr2n/fou7EFpMiBvqp39xH60gKPv0M9pGkMiJFxNYpE3phQePmfsO8+bKBARAAdRAC3TACVjLyXp31jlP7WYC9UwVw9q6GlL1hBQjJl8VttJB0krTdDTQTdJyIqhdSAo8jN8UGKiZAdQYqJwBVFpqEbCfkJjNRg8ckADnPyA2k7y8DUiB5geIedOPiwIxsPOAmCce/TUgBDYjELsLvWMAcuDaA1ifewPeYBlwcZUNGiXdAYJp81+hK/anAAAAAElFTkSuQmCC");
      background-repeat: no-repeat;
      background-position: center;
      left: 362px;
      bottom: 11px;
      border: none;
      transition: 0.3s ease;
      &:hover {
        background-color: #827685;
      }
  }
}

.info {
  display: flex;
  &-col {
    display: flex;
    &__item {
      width: 18px;
      height: 18px;
      align-items: center;
      margin-top: 32px;
      margin-left: 28px;
    }
    &__text {
      margin-top: 35px;
      margin-left: 16px;
    }
  }
}

.prise {
  font-weight: 600;
  font-size: 1.87rem;
  color: #000;
  margin-top: 5px;
  margin-left: 30px;
}

.section-catalog {
  margin-top: 150px;
}
.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 83px;
  &-child {
    width: 462px;
    height: 544px;
    border: 1px solid #302d32;
    overflow: hidden;
    margin-bottom: 20px;
  }
  &-item {
    width: 100%;
    height: 76%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-size: cover;
    transition: 0.3s ease;
    &:hover {
      width: 105%;
    }
  }
  &-gukovka {
    background-image: url(../img/section/image1.png);
  }
  &-parahut {
    background-image: url(../img/section/image2.png);
  }
  &-vesna {
    background-image: url(../img/section/image3.png);
  }
  &-pioneer {
    background-image: url(../img/section/image4.png);
  }
  &-manhattan {
    background-image: url(../img/section/image5.png);
  }
  &-friendship {
    background-image: url(../img/section/image6.png);
  }
  &-text {
    position: absolute;
    color: #ffffff;
    top: 308px;
    left: 31px;
    line-height: 1;
    &__title {
      font-weight: bold;
      font-size: 1.87rem;
    }
    &__description {
      font-weight: 400;
      font-style: 1rem;
    }
  }
  &__btn {
    content: "";
      position: absolute;
      width: 41px;
      height: 41px;
      background-color: #302d32;
      display: block;
      background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAPCAYAAADphp8SAAAAwElEQVQ4ja2RUQqCQBRFr2n/fou7EFpMiBvqp39xH60gKPv0M9pGkMiJFxNYpE3phQePmfsO8+bKBARAAdRAC3TACVjLyXp31jlP7WYC9UwVw9q6GlL1hBQjJl8VttJB0krTdDTQTdJyIqhdSAo8jN8UGKiZAdQYqJwBVFpqEbCfkJjNRg8ckADnPyA2k7y8DUiB5geIedOPiwIxsPOAmCce/TUgBDYjELsLvWMAcuDaA1ifewPeYBlwcZUNGiXdAYJp81+hK/anAAAAAElFTkSuQmCC");
      background-repeat: no-repeat;
      background-position: center;
      left: 362px;
      bottom: 11px;
      border: none;
      transition: 0.3s ease;
      &:hover {
        background-color: #827686;
      }
  }
}

.download {
  position: relative;
  color: #27300f;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 57px;
  padding-left: 0px;
  background: transparent;
  border: none;
  opacity: 0.8;
  transition: 0.3s ease;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 7px;
    height: 11px;
    top: 5px;
    left: 141px;
    background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAAqklEQVQYlV3QsUqCcRSG8Z/WoIsgQml0CQriVehFOOSQS0RrQhcgOjsJzg1uTiIubt6AOIe0NrYlB74v/vqsz+Gc97yFdquzxRIz/Em4qd83vvGGB+zSgVus8YMpqnjHb8hiNrTHEM1sfSWVwQED1DDHXSqDLzyhjMW1DLpoYBWBcgp4QR8TfOYyNnyghxE2+SsljNHGa5b8/8+I/ohnHNPjIaOVKOJ0EQtnaqAcL+nLxPcAAAAASUVORK5CYII=");
    background-size: cover;
    background-repeat: no-repeat;
  }
  &:hover {
    opacity: 1;
    font-weight: 500;
  }
  &:focus {
    outline: none;
  }
}

.section-plan {
  margin-top: 151px;
  &__text {
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    width: 690px;
    margin: 0 auto;
    margin-top: 25px;
    line-height: 1.5;
  }
  &__item {
    background-image: url(../img/image-8.png);
    width: 100%;
    height: 630px;
    margin: 0 auto;
    margin-top: 65px;
    margin-left: -7px;
  }
}

.choice {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 82px;
    max-width: 765px;
  .click {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 100px;
    margin-right: 16px;
    transition: 0.3s ease;
    &:hover {
      color: #827685;
    }
  }
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 25px;
    background-color: black;
    left: 383px;
  }
}

.section-about {
  margin-top: 152px;
}
.about-cart {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 82px;
  width: 1228px;
}
.advanced {
  text-align: center;
  font-weight: 500;
  font-size: 0.75rem;
  &__img {
    width: 58px;
    height: 58px;
  }
  &__text {
    font-weight: 400;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-top: 21px;
    letter-spacing: 2px;
    line-height: 1.5;
  }
}

.section-news {
  margin-top: 175px;
}
.slider-news {
    width: 461px;
    height: 398px;
    border: 1px solid #000;
    &:hover {
      background-image: url(../img/image-9.png);
      color: #fff;
    }
    &__date {
      font-size: 0.75rem;
      margin-top: 171px;
      margin-left: 29px;
    }
    &__text {
      font-size: 1rem;
      margin-left: 29px;
      margin-top: 0;
      line-height: 1.5;
    }
}
.download {
  &-news {
    position: relative;
    border: none;
    margin-left: 23px;
    margin-top: 8px;
    background: transparent;
    &:hover {
      color: #fff;
    }
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 7px;
      height: 11px;
      top: 5px;
      left: 154px;
      background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAAqklEQVQYlV3QsUqCcRSG8Z/WoIsgQml0CQriVehFOOSQS0RrQhcgOjsJzg1uTiIubt6AOIe0NrYlB74v/vqsz+Gc97yFdquzxRIz/Em4qd83vvGGB+zSgVus8YMpqnjHb8hiNrTHEM1sfSWVwQED1DDHXSqDLzyhjMW1DLpoYBWBcgp4QR8TfOYyNnyghxE2+SsljNHGa5b8/8+I/ohnHNPjIaOVKOJ0EQtnaqAcL+nLxPcAAAAASUVORK5CYII=");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

.inlin {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  max-width: 880px;
}


datalist {
  width: 360px;
 display: flex;
 justify-content: space-between;
 }
 
 #tickmarks option {
 display: inline;
 font-size: 1rem;
 }
 
 .range-style {
   -webkit-appearance: none;
   width: 360px;
   height: 2px;
   background: #e4e4e4;
   outline: none;
 }
 
 .range-style::-webkit-slider-thumb {
   -webkit-appearance: none;
   width: 12px;
   height: 12px;
   border: 1px solid #dae3ea;
   background: white;
   border-radius: 2px;
   background-repeat: no-repeat;
   background-position: center;
   cursor: pointer;
   transition: all 0.3s;
   background: #000;
 }
 

 .but {
   width: 460px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   margin-top: 36px;
 }
 .reset {
   position: relative;
   background: transparent;
   font-weight: 400;
   font-size: 1rem;
   border: none;
   padding-left: 49px;
   outline: none;
   cursor: pointer;
   transition: 0.3s ease;
   &:hover {
     color: #827685;
   }
   &::after {
     content:"";
     position: absolute;
     background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAg0lEQVQYlWM00DWax8DAMIOBgeEUA3ZgxsDAkMEEVVQCFUAHZlC5GcwS4pJPGRgYHkIFQPRTqGKYoh6QbSCFDFBJZMXSyIpACliQrAIJgCRACkAArggEQG4kCiArRHYTzGS4B2FuRHE4Fjc/BSlEVwQDKIpBCpsZGBgm4QhwiGIGhgwAi/Im6H+tupwAAAAASUVORK5CYII=");
     display: block;
     width: 10px;
     height: 10px;
     left: 200px;
     top: 24px;

   }
 }
 .submit {
   width: 222px;
   height: 60px;
   background-color: #302d32;
   color: #fff;
   font-weight: 600;
   font-size: 1.12rem;
   margin-left: 28px;
   letter-spacing: 3px;
   text-transform: uppercase;
   cursor: pointer;
   border: none;
   transition: 0.3s ease;
   &:hover {
     background-color: #827685;
   }
 }

 .slick-prev,.slick-next {
   position: absolute;
   background-color: transparent;
   background-size: contain;
   border: none;
   top: -50px;
   text-indent: -9999px;
   background-repeat: no-repeat;
   display: block;
   width: 7px;
   height: 12px;
   outline: none;
 }
 .slick-prev {
   right: 55px;
   background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAAlklEQVQYlW3PO2uCURCE4efzQhQEi5Q2KQMi3lAs8u8VixAQK+1sxEJtLCy0URaOcPLhWx12ZvbsFIPeyBu+8VUrzQv00cEqF6sY4xO/OL3EOqZoYYlLDENsYJaSC1xfq0L8Se85bvkBFezRTEf8I5LblOjiA5t8bbBLhmEyrPHIqxxwxyQZ/uLPnHOq0o4GZTGIjgscn1fjGUsRU5mrAAAAAElFTkSuQmCC");
 }
 .slick-next {
   right: 5px;
   background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAAqklEQVQYlV3QsUqCcRSG8Z/WoIsgQml0CQriVehFOOSQS0RrQhcgOjsJzg1uTiIubt6AOIe0NrYlB74v/vqsz+Gc97yFdquzxRIz/Em4qd83vvGGB+zSgVus8YMpqnjHb8hiNrTHEM1sfSWVwQED1DDHXSqDLzyhjMW1DLpoYBWBcgp4QR8TfOYyNnyghxE2+SsljNHGa5b8/8+I/ohnHNPjIaOVKOJ0EQtnaqAcL+nLxPcAAAAASUVORK5CYII=");
 }