@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

:root {
  font-size: 16px;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}
.wrapper {
  max-width: 1430px;
  margin: 0 auto;
}
.title {
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  @media (max-width: 320px) {
    font-size: 1.25rem;
  }
}
.section-main {
  background-image: url(../img/files/image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 850px;
  @media (max-width: 576px) {
    min-height: 600px;
  }
  @media (max-width: 576px) {
    min-height: 450px;
  }
  @media (max-width: 320px) {
    height: 451px;
  }
}
.main {
  max-width: 835px;
  margin: 0 auto;
  margin-top: 173px;
  @media (max-width: 576px) {
    margin-top: 83px;
  }
  @media (max-width: 320px) {
    margin-top: 72px;
  }
  &-title {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    max-width: 829px;
    text-align: center;
    @media (max-width: 768px) {
      font-size: 35px;
      max-width: 538px;
      text-align: center;
      margin: 0 auto;
    }
    @media (max-width: 320px) {
      font-size: 20px;
      line-height: 1.5;
    }
  }
  &-text {
    max-width: 530px;
    color: #fffffe;
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
    margin: 0 auto;
    margin-top: 36px;
    text-align: center;
    font-size: 16px;
    @media (max-width: 320px) {
      width: 264px;
      font-size: 12px;
      line-height: 1.5;
      margin: 0 auto;
      margin-top: 11px;
    }
  }
  &-btn {
    padding: 23px 50px;
    display: block;
    margin: 0 auto;
    margin-top: 37px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.12rem;
    color: #000;
    letter-spacing: 3.5px;
    transition: 0.3s ease;
    @media (max-width: 320px) {
      font-size: 0.87rem;
      letter-spacing: 2.5px;
      margin: 0 auto;
      margin-top: 38px;
      padding: 17px 27px;
    }
    &:hover {
      color: #827686;
    }
  }
}


.form {
  max-width: 640px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 32px;
  @media (max-width: 320px) {
    flex-wrap: wrap;
    margin-top: 21px;
    margin-bottom: 0;
    font-size: 0.75rem;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 325px;
    height: 60px;
    align-items: center;
    text-align-last: center;
    outline: none;
    @media (max-width: 576px) {
      width: 243px;
    }
    @media (max-width: 320px) {
      width: 288px;
      height: 39px;
      margin-bottom: 11px;
    }
  }
  option {
    justify-content: center;
  }
}
.arrowl {
  position: absolute;
  display: block;
  width: 15px;
  height: 8px;
  top: 27px;
  left: 33%;
  background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAICAYAAAAm06XyAAAAkUlEQVQYlY3OMQ4BQRSA4W83HEciGq3OAahVCkTvCg6AaCQKUTmBSqKSOIJGr6MVMsluspGR3Slf3ve/SZqNVg8bdHFR/hIs0E9xxQtHtEtogCtMcAj4jg6eFQJLjLDGNM2GtwqBOcbYZpc/OS4LBDjDHsMAw7CI/wWKcIB3vlyLfC8PnHBGPQZjl38DD+xiEL6h8SecseuVvAAAAABJRU5ErkJggg==");
  @media (max-width: 576px) {
    left: 38%;
  }
  @media (max-width: 320px) {
    top: 16%;
    left: 62%;
  }
}
.arrowr {
  position: absolute;
  display: block;
  width: 15px;
  height: 8px;
  top: 27px;
  right: 18.5%;
  background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAICAYAAAAm06XyAAAAkUlEQVQYlY3OMQ4BQRSA4W83HEciGq3OAahVCkTvCg6AaCQKUTmBSqKSOIJGr6MVMsluspGR3Slf3ve/SZqNVg8bdHFR/hIs0E9xxQtHtEtogCtMcAj4jg6eFQJLjLDGNM2GtwqBOcbYZpc/OS4LBDjDHsMAw7CI/wWKcIB3vlyLfC8PnHBGPQZjl38DD+xiEL6h8SecseuVvAAAAABJRU5ErkJggg==");
  @media (max-width: 320px) {
    top: 66%;
    right: 38.5%;
  }
}

.contant {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
  @media (max-width: 990px) {
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: 1024px) {
    margin-right: 10px;
    margin-left: 10px;
  }
}
.area {
  display: flex;
  width: 484px;
  border: 1px solid #000;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 990px) {
    margin-top: 15px;
  }
  @media (max-width: 320px) {
    width: 282px;
    height: 40px;
    margin: 0 auto;
    font-size: 0.75rem;
    margin-top: 0;
  }
}
.area-text {
  width: 241px;
  text-align: center;
  @media (max-width: 320px) {
    width: 175px;
  }
}
.area-input {
  width: 241px;
  height: 55px;
  outline: none;
  border: none;
  border-left: 1px solid #000;
  text-align: center;
  @media (max-width: 320px) {
    height: 37px;
  }
  &::-webkit-input-placeholder { color: #000;}
  &:hover {
    &::-webkit-input-placeholder { color: #827686;}
  }
}

.section-stock {
  position: relative;
  margin-top: 131px;
  @media (max-width: 1366px) {
    margin-left: 10px;
  }
  @media (max-width: 576px) {
    margin-top: 60px;
  }
  @media (max-width: 320px) {
    margin-top: 54px;
  }
  &__text {
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    width: 517px;
    margin: 0 auto;
    margin-top: 35px;
    line-height: 1.5;
    overflow: hidden;
    @media (max-width: 576px) {
      max-width: 479px;
    }
    @media (max-width: 320px) {
      font-size: 0.75rem;
      margin: 0 auto;
      font-size: 0.75rem;
      width: 264px;
      margin-top: 17px;
    }
  }
}

.slider {
  display: flex;
  justify-content: space-between;
  margin-top: 138px;
  @media (max-width: 1200px) {
    margin-right: 10px;
    margin-left: 10px;
  }
  @media (max-width: 768px) {
    margin-top: 70px;
  }
  @media (max-width: 320px) {
    margin-top: 40px;
  }
  &-child {
    position: relative;
    width: 462px;
    height: 544px;
    border: 1px solid #302d32;
    overflow: hidden;
    margin-right: 19px;
    @media (max-width: 320px) {
      width: 281px;
      height: 428px;
      margin-right: 1px;
    }
  }
  &-item {
    width: 100%;
    height: 76%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-size: cover;
    transition: 0.3s ease;
    @media (max-width: 320px) {
      height: 260px;
    }
    &:hover {
      width: 105%;
    }
  }
  &-berry {
    background-image: url(../img/image1.png);
  }
  &-trend {
    background-image: url(../img/image2.png);
  }
  &-panoramma {
    background-image: url(../img/image3.png);
  }
  &-text {
    position: absolute;
    color: #ffffff;
    top: 308px;
    left: 31px;
    line-height: 1;
    @media (max-width: 320px) {
      color: #000;
      top: 278px;
      left: 12px;
    }
    &__title {
      font-weight: bold;
      font-size: 1.87rem;
      @media (max-width: 320px) {
        font-size: 1.12rem;
      }
    }
    &__description {
      font-weight: 400;
      font-size: 1rem;
      @media (max-width: 320px) {
        font-size: 12px;
      }
    }
  }
  &__btn {
    content: "";
      position: absolute;
      width: 41px;
      height: 41px;
      background-color: #302d32;
      display: block;
      background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAPCAYAAADphp8SAAAAwElEQVQ4ja2RUQqCQBRFr2n/fou7EFpMiBvqp39xH60gKPv0M9pGkMiJFxNYpE3phQePmfsO8+bKBARAAdRAC3TACVjLyXp31jlP7WYC9UwVw9q6GlL1hBQjJl8VttJB0krTdDTQTdJyIqhdSAo8jN8UGKiZAdQYqJwBVFpqEbCfkJjNRg8ckADnPyA2k7y8DUiB5geIedOPiwIxsPOAmCce/TUgBDYjELsLvWMAcuDaA1ifewPeYBlwcZUNGiXdAYJp81+hK/anAAAAAElFTkSuQmCC");
      background-repeat: no-repeat;
      background-position: center;
      left: 362px;
      bottom: 11px;
      border: none;
      transition: 0.3s ease;
      @media (max-width: 320px) {
        display: none;
      }
      &:hover {
        background-color: #827685;
      }
  }
}

.info {
  display: flex;
  @media (max-width: 320px) {
    font-size: 0.75rem;
    margin-top: 47px;
  }
  &-col {
    display: flex;
    &__item {
      width: 18px;
      height: 18px;
      align-items: center;
      margin-top: 32px;
      margin-left: 28px;
      @media (max-width: 320px) {
        margin-left: 15px;
        width: 14px;
        height: 14px;
      }
    }
    &__text {
      margin-top: 35px;
      margin-left: 16px;
      @media (max-width: 768px) {
        margin-left: 1px;
      }
      @media (max-width: 320px) {
        margin-left: 10px;
      }
    }
  }
}

.prise {
  font-weight: 600;
  font-size: 1.87rem;
  color: #000;
  margin-top: 5px;
  margin-left: 30px;
  @media (max-width: 320px) {
    font-size: 1.25rem;
    margin-top: 15px;
    margin-left: 10px;
  }
}

.section-catalog {
  margin-top: 150px;
  @media (max-width: 576px) {
    margin-top: 70px;
  }
  @media (max-width: 320px) {
    margin-top: 92px;
  }
}
.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 83px;
  @media (max-width: 1366px) {
    justify-content: space-around;
  }
  @media (max-width: 1200px) {
    justify-content: space-around;
  }
  @media (max-width: 320px) {
    margin-top: 36px;
  }
  &-child {
    position: relative;
    width: 462px;
    height: 544px;
    border: 1px solid #302d32;
    overflow: hidden;
    margin-bottom: 20px;
    @media (max-width: 320px) {
      width: 287px;
      height: 427px;
      &.none {
        @media (max-width: 320px) {
          display: none;
        }
      }
    }
  }
  &-item {
    width: 100%;
    height: 76%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-size: cover;
    transition: 0.3s ease;
    @media (max-width: 320px) {
      height: 258px;
    }
    &:hover {
      width: 105%;
    }
  }
  &-gukovka {
    background-image: url(../img/section/image1.png);
  }
  &-parahut {
    background-image: url(../img/section/image2.png);
  }
  &-vesna {
    background-image: url(../img/section/image3.png);
  }
  &-pioneer {
    background-image: url(../img/section/image4.png);
  }
  &-manhattan {
    background-image: url(../img/section/image5.png);
  }
  &-friendship {
    background-image: url(../img/section/image6.png);
  }
  &-text {
    position: absolute;
    color: #ffffff;
    top: 308px;
    left: 31px;
    line-height: 1;
    @media (max-width: 320px) {
      color: #000;
      top: 278px;
      left: 14px;
    }
    &__title {
      font-weight: bold;
      font-size: 1.87rem;
      @media (max-width: 320px) {
        font-size: 1.12rem;
      }
    }
    &__description {
      font-weight: 400;
      font-size: 1rem;
      @media (max-width: 320px) {
        font-size: 0.75rem;
      }
    }
  }
  &__btn {
    content: "";
      position: absolute;
      width: 41px;
      height: 41px;
      background-color: #302d32;
      display: block;
      background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAPCAYAAADphp8SAAAAwElEQVQ4ja2RUQqCQBRFr2n/fou7EFpMiBvqp39xH60gKPv0M9pGkMiJFxNYpE3phQePmfsO8+bKBARAAdRAC3TACVjLyXp31jlP7WYC9UwVw9q6GlL1hBQjJl8VttJB0krTdDTQTdJyIqhdSAo8jN8UGKiZAdQYqJwBVFpqEbCfkJjNRg8ckADnPyA2k7y8DUiB5geIedOPiwIxsPOAmCce/TUgBDYjELsLvWMAcuDaA1ifewPeYBlwcZUNGiXdAYJp81+hK/anAAAAAElFTkSuQmCC");
      background-repeat: no-repeat;
      background-position: center;
      left: 362px;
      bottom: 11px;
      border: none;
      transition: 0.3s ease;
      &:hover {
        background-color: #827686;
      }
  }
}

.download {
  position: relative;
  color: #27300f;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 57px;
  padding-left: 0px;
  background: transparent;
  border: none;
  opacity: 0.8;
  transition: 0.3s ease;
  cursor: pointer;
  @media (max-width: 320px) {
    font-size: 0.81rem;
    margin-top: 7px;
  }
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 7px;
    height: 11px;
    top: 5px;
    left: 141px;
    background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAAqklEQVQYlV3QsUqCcRSG8Z/WoIsgQml0CQriVehFOOSQS0RrQhcgOjsJzg1uTiIubt6AOIe0NrYlB74v/vqsz+Gc97yFdquzxRIz/Em4qd83vvGGB+zSgVus8YMpqnjHb8hiNrTHEM1sfSWVwQED1DDHXSqDLzyhjMW1DLpoYBWBcgp4QR8TfOYyNnyghxE2+SsljNHGa5b8/8+I/ohnHNPjIaOVKOJ0EQtnaqAcL+nLxPcAAAAASUVORK5CYII=");
    background-size: cover;
    background-repeat: no-repeat;
    @media (max-width: 320px) {
      top: 4px;
      left: 114px;
      width: 5px;
      height: 9px;
    }
  }
  &:hover {
    opacity: 1;
    font-weight: 500;
  }
  &:focus {
    outline: none;
  }
}

.section-plan {
  margin-top: 151px;
  @media (max-width: 576px) {
    margin-top: 75px;
  }
  &__text {
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    width: 690px;
    margin: 0 auto;
    margin-top: 25px;
    line-height: 1.5;
    @media (max-width: 320px) {
      width: 291px;
      margin-top: 11px;
    }
  }
  &__item {
    background-image: url(../img/image-8.png);
    width: 100%;
    height: 630px;
    margin: 0 auto;
    margin-top: 65px;
    background-size: cover;
    background-position: center;
    @media (max-width: 320px) {
      margin-top: 32px;
      margin-left: 0;
      height: 255px;
    }
  }
}

.choice {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 82px;
    max-width: 765px;
    @media (max-width: 320px) {
      margin-top: 25px;
    }
  .click {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 100px;
    margin-right: 16px;
    transition: 0.3s ease;
    @media (max-width: 576px) {
      margin-left: 12px;
    }
    @media (max-width: 320px) {
      font-size: 0.62rem;
      letter-spacing: 1px;
      margin-left: 22px;
      margin-right: 0px;
    }
    &:hover {
      color: #827685;
    }
  }
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 25px;
    background-color: black;
    left: 383px;
    @media (max-width: 576px) {
      left: 250px;
    }
    @media (max-width: 320px) {
      left: 152px;
      height: 15px;
      top: 5px;
    }
  }
}

.section-about {
  margin-top: 152px;
  @media (max-width: 576px) {
    margin-top: 70px;
  }
  @media (max-width: 320px) {
    margin-top: 55px;
  }
}
.about-cart {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 82px;
  width: 1228px;
  @media (max-width: 992px) {
    width: 990px;
  }
  @media (max-width: 768px) {
    width: 768px;
  }
  @media (max-width: 576px) {
    width: 576px;
    display: flex;
    flex-wrap: wrap;
  }
  @media (max-width: 320px) {
    width: 300px;
    flex-wrap: wrap;
    margin-top: 23px;
  }
}
.advanced {
  text-align: center;
  font-weight: 500;
  font-size: 0.75rem;
  @media (max-width: 320px) {
    margin-top: 17px;
  }
  &__img {
    width: 58px;
    height: 58px;
    @media (max-width: 320px) {
      width: 42px;
      height: 42px;
    }
  }
  &__text {
    font-weight: 400;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-top: 21px;
    letter-spacing: 2px;
    line-height: 1.5;
    @media (max-width: 576px) {
      font-size: 0.62rem;
    }
    @media (max-width: 320px) {
      font-size: 0.62rem;
      margin-top: 10px;
    }
  }
}

.corrected {
  @media (max-width: 320px) {
    margin-top: 14px;
  }
}

.section-news {
  position: relative;
  margin-top: 175px;
  @media (max-width: 1366px) {
    margin-left: 5px;
  }
  @media (max-width: 576px) {
    margin-top: 70px;
  }
  @media (max-width: 320px) {
    margin-top: 62px;
  }
}
.slider-news {
    margin-right: 32px;
    max-width: 461px;
    height: 398px;
    border: 1px solid #000;
    @media (max-width: 320px) {
      height: 249px;
      margin: 0 15px;
    }
    &:hover {
      background-image: url(../img/image-9.png);
      color: #fff;
    }
    &__date {
      font-size: 0.75rem;
      margin-top: 171px;
      margin-left: 29px;
      @media (max-width: 1200px) {
        margin-top: 100px;
      }
      @media (max-width: 990px) {
        margin-top: 70px;
      }
      @media (max-width: 320px) {
        margin-top: 74px;
        margin-left: 11px;
      }
    }
    &__text {
      font-size: 1rem;
      margin-left: 29px;
      margin-top: 0;
      line-height: 1.5;
      @media (max-width: 1200px) {
        font-style: 0.95rem;
        margin-left: 8px;
      }
      @media (max-width: 990px) {
        margin-left: 25px;
      }
      @media (max-width: 320px) {
        font-size: 10px;
        margin-left: 10px;
      }
    }
}
.download {
  &-news {
    position: relative;
    border: none;
    margin-left: 23px;
    margin-top: 8px;
    background: transparent;
    @media (max-width: 320px) {
      font-size: 0.75rem;
    }
    &:hover {
      color: #fff;
    }
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 7px;
      height: 11px;
      top: 5px;
      left: 154px;
      background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAAqklEQVQYlV3QsUqCcRSG8Z/WoIsgQml0CQriVehFOOSQS0RrQhcgOjsJzg1uTiIubt6AOIe0NrYlB74v/vqsz+Gc97yFdquzxRIz/Em4qd83vvGGB+zSgVus8YMpqnjHb8hiNrTHEM1sfSWVwQED1DDHXSqDLzyhjMW1DLpoYBWBcgp4QR8TfOYyNnyghxE2+SsljNHGa5b8/8+I/ohnHNPjIaOVKOJ0EQtnaqAcL+nLxPcAAAAASUVORK5CYII=");
      background-size: cover;
      background-repeat: no-repeat;
      @media (max-width: 320px) {
        top: 3px;
        left: 177px;
      }
    }
  }
}


.inlin {
  margin-left: 0px;
  margin-top: 0px;
  @media (max-width: 768px) {
    margin-bottom: 20px;
  }
  @media (max-width: 768px) {
    font-size: 0.75rem;
  }
  @media (max-width: 320px) {
    width: 332px;
    margin-top: -7px;
    margin-bottom: 6px;
  }
}

datalist {
  width: 385px;
 display: flex;
 justify-content: space-between;
 @media (max-width: 320px) {
  width: 275px;
  }
}
 
 #tickmarks option {
 display: inline;
 font-size: 1rem;
 @media (max-width: 320px)  {
   font-size: 0.75rem;
 }
}

 
 .range-style {
   -webkit-appearance: none;
   width: 366px;
   height: 2px;
   background: #e4e4e4;
   outline: none;
   @media (max-width: 320px) {
     width: 275px;
   }
 }

 .rang-style::-moz-range-track {
  background: linear-gradient(#000, #000) no-repeat #757575;
 }
 
 .range-style::-webkit-slider-thumb {
   -webkit-appearance: none;
   width: 8px;
   height: 8px;
   border: 1px solid #dae3ea;
   background: white;
   border-radius: 2px;
   background-repeat: no-repeat;
   background-position: center;
   cursor: pointer;
   transition: all 0.3s;
   background: #000;
 }

 .but {
   width: 460px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   margin-top: 36px;
   @media (max-width: 320px) {
     width: 300px;
     flex-wrap: wrap;
     margin: 0 auto;
     margin-top: 20px;
   }
 }
 .reset {
   position: relative;
   background: transparent;
   font-weight: 400;
   font-size: 1rem;
   border: none;
   padding-left: 49px;
   outline: none;
   @media (max-width: 320px) {
     margin: 0 auto;
     padding-left: 0;
   }
   cursor: pointer;
   transition: 0.3s ease;
   &:hover {
     color: #827685;
   }
   &::after {
     content:"";
     position: absolute;
     background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAg0lEQVQYlWM00DWax8DAMIOBgeEUA3ZgxsDAkMEEVVQCFUAHZlC5GcwS4pJPGRgYHkIFQPRTqGKYoh6QbSCFDFBJZMXSyIpACliQrAIJgCRACkAArggEQG4kCiArRHYTzGS4B2FuRHE4Fjc/BSlEVwQDKIpBCpsZGBgm4QhwiGIGhgwAi/Im6H+tupwAAAAASUVORK5CYII=");
     display: block;
     width: 10px;
     height: 10px;
     left: 200px;
     top: 24px;
     @media (max-width: 320px) {
       left: 147px;
       top: 6px;
     }
   }
 }
 .submit {
   width: 222px;
   height: 60px;
   background-color: #302d32;
   color: #fff;
   font-weight: 600;
   font-size: 1.12rem;
   margin-left: 28px;
   letter-spacing: 3px;
   text-transform: uppercase;
   cursor: pointer;
   border: none;
   transition: 0.3s ease;
   @media (max-width: 320px) {
    margin: 0 auto;
    margin-top: 28px;
    width: 170px;
    height: 52px;
    font-size: 0.87rem;
   }
   &:hover {
     background-color: #827685;
   }
 }

 .slick-prev,.slick-next {
   position: absolute;
   background-color: transparent;
   background-size: contain;
   border: none;
   top: -57px;
   text-indent: -9999px;
   background-repeat: no-repeat;
   display: block;
   width: 7px;
   height: 12px;
   outline: none;
   @media (max-width: 320px) {
     top: -30px;
     display: none;
   }
 }
 .slick-prev {
   width: 29px;
   height: 29px;
   right: 70px;
   background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAdCAYAAABWk2cPAAAArUlEQVRIie3WwQ2EIBAF0K+xgC3JUrSCLcGlg7UC7cQtgRa2kjUQDpPVRJnRf+KfOEAeEBiovPcvAAN4cQH9EcGYRrQrghcXWBOgTQpa0L2Ee/5golMqLAsLDWCX2iMDlWAPYL4bNYEa1Azmoq0AZy2Yi34E1IkJ3Irib0snLaw5SGZYe2VMsKU4SPiZM7A50ecI/gJ4M1Gkgp+V8p4W9JLI00v76YeVOhYWA7gVvdIiYK8vOhgAAAAASUVORK5CYII=");
   @media (max-width: 320px) {
    display: none;
  }
 }
 .slick-next {
   width: 29px;
   height: 29px;
   right: 20px;
   background-image: url("../img/svg/2.svg");
   @media (max-width: 320px) {
     display: none;
   }
 }


 
input[type='range'] {
  display: block;
  margin: 0.2em auto;
  border: solid .5em transparent;
  padding: 0;
  width: 380px;
  height: 1em;
  border-radius: .25em;
  background: transparent;
  font-size: 1em;
  cursor: pointer;
  touch-action: none;
  @media (max-width: 320px) {
    width: 289px;
    margin-bottom: 26px;
  }
}
input[type='range'], 
input[type='range']::-webkit-slider-runnable-track, 
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 15.5em;
  height: 0.1em;
  border-radius: 0.25em;
  background: #000;
}
input[type='range']::-webkit-slider-runnable-track {
  background: linear-gradient(#000, #000) no-repeat #d6d5d6;
}
input[type='range']::-moz-range-track {
  width: 15.5em;
  height: 0.3em;
  border-radius: 0.25em;
  background: #000;
}
input[type='range']::-moz-range-track {
  background: linear-gradient(#000, #000) no-repeat #d6d5d6;
}
input[type='range']::-ms-track {
  border: none;
  width: 15.5em;
  height: 0.5em;
  border-radius: 0.25em;
  background: #d6d5d6;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  border-radius: 0.25em;
  background: #000;
}

/* Would prefer to find a way to automatically set background size based on range values on page load */

input[type='range']::-webkit-slider-runnable-track {
  background-size: 0% 100%;
}

input[type='range']::-moz-range-track {
  background-size: 0% 100%;
}

input[type='range']::-webkit-slider-thumb {
  margin-top: -0.125em;
  border: none;
  width: 0.5em;
  height: 0.5em;
  /*box-shadow: 0 0 0.125em #333;*/
  background: #000;
}
input[type='range']::-moz-range-thumb {
  border: none;
  width: 0.5em;
  height: 0.5em;
 /* box-shadow: 0 0 0.125em #333;*/
  background: #000;
}
input[type='range']::-ms-thumb {
  border: none;
  width: 0.5em;
  height: 0.5em;
  /*box-shadow: 0 0 0.125em #333;*/
  background: #000;
}
input[type='range']::-ms-tooltip {
  display: none;
}
input[type='range']:focus {
  outline: none;
 /* box-shadow: 0 0 0.25em #e44e4f;*/
}

label[for='range'] {
  position: relative;
  top: 45px;
  width: 380px;
  font-family: "Lucida Grande","Lucida Sans Unicode", Tahoma, Sans-Serif;
  font-size: 16px;
  color: black;
  display: block;
  margin: 0 auto;
  @media (max-width: 320px) {
    font-size: 12px;
    width: 289px;
    top: 38px;
  }
}
.border {
  position: absolute;
  display: block;
  top: 190px;
  width: 1305px;
  height: 1px;
  background: #c0c0c1;
  @media (max-width: 1366px) {
    width: 1230px;
  }
  @media (max-width: 1200px) {
    width: 1010px;
    margin-left: 10px;
  }
  @media (max-width: 1024px) {
    width: 850px;
  }
  @media (max-width: 990px) {
    width: 800px;
  }
  @media (max-width: 768px) {
    display: none;
  }
}
.borderblack {
  position: absolute;
  display: block;
  top: 190px;
  width: 445px;
  height: 1.5px;
  background: #000;
  z-index: 1;
  @media (max-width: 1366px) {
    width: 425px;
  }
  @media (max-width: 1200px) {
    width: 355px;
    margin-left: 10px;
  }
  @media (max-width: 1024px) {
    width: 290px;
  }
  @media (max-width: 990px) {
    width: 440px;
  }
  @media (max-width: 768px) {
    display: none;
  }
}
.bordera {
  position: absolute;
  display: block;
  top: 226px;
  width: 1305px;
  height: 1px;
  background: #c0c0c1;
  @media (max-width: 1366px) {
    width: 1230px;
  }
  @media (max-width: 1200px) {
    width: 1050px;
    margin-left: 10px;
  }
  @media (max-width: 1024px) {
    width: 850px;
  }
  @media (max-width: 990px) {
    width: 800px;
  }
  @media (max-width: 768px) {
    display: none;
  }
}
.borderblacka {
  position: absolute;
  display: block;
  top: 226px;
  width: 455px;
  height: 1.5px;
  background: #000;
  z-index: 1;
  @media (max-width: 1366px) {
    width: 435px;
  }
  @media (max-width: 1200px) {
    width: 370px;
    margin-left: 10px;
  }
  @media (max-width: 1024px) {
    width: 300px;
  }
  @media (max-width: 990px) {
    width: 350px;
  }
  @media (max-width: 768px) {
    display: none;
  }
}
.br {
  @media (max-width: 320px) {
    display: none;
  }
}

.like {
  display: block;
  background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAATCAYAAACUef2IAAABMklEQVQ4jbXUrUoEURgG4MdFNBjMgjaroLKIqMmoURCEFTd6BeIt6BVoFINgsmgwihbLBuuaVjTsFouggsgHZ2BZd9fxZ94yw/ne8zAwM2dgempWyhC2sYkpDKOOU+zjOfVGsYN1TOIVdzjGAd6ilMFjOMeM7mlgJU0uMNGjV8MqngIexA3mepSzPKTr+De9WywGWsmB5gGzhFUpoZpzw09SDbhcAFwOeKQAeCTgVgFwK+CrAuCrgA8LgA8Dvkw/x38lrMtSwqrp7/prGtnnm8HxApfR/APcTEarHZYOnIVfPnkj7a1nC6WOQgzm02GSN7W0p97e74Qjj1jCWQ74LHUfOwfd4MgL1rDXB41ZdKL7Jb3gyAd201t+b1uP+600i07XxLH5XY5wj5NU3MB13034BIxnO14d7om7AAAAAElFTkSuQmCC");
  width: 22px;
  height: 19px;
  position: absolute;
  top: 379px;
  left: 88%;
  @media (min-width: 321px) {
    display: none;
  }
}

.slick-dots {
  display: flex;
  list-style-type: none;
  justify-content: center;
  text-indent: -9999px;
  position: absolute;
  top: 457px;
  left: 96px;
  @media (max-width: 576px) {
    top: 570px;
    left: 170px;
  }
}
.slick-dots > li {
  width: 7px;
  height: 7px;
  background: #27300f;
  margin-right: 6px;
  margin-left: 6px;
}

.corrected {
  .slick-dots {
    display: flex;
    list-style-type: none;
    justify-content: center;
    text-indent: -9999px;
    position: absolute;
    top: 280px;
    left: 96px;
    @media (max-width: 576px) {
      top: 420px;
      left: 150px;
    }
  }
}